html, body, main, #app, div.container {
  height: 100%; }

.color-main-blue {
  color: #1c6be8; }

.label-signup {
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  font-size: 2em;
  font-weight: 300;
  text-align: center; }

.input-main {
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  border-radius: 0;
  box-shadow: none; }
  .input-main:active, .input-main:focus {
    outline: none;
    border-bottom: 1px solid #1c6be8;
    border-radius: 0;
    box-shadow: none; }

.no-border-radius {
  border-radius: 0; }

.button-next {
  color: #1c6be8;
  font-size: 16px;
  cursor: pointer;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .button-next:focus, .button-next:hover {
    color: #4396ff; }

.button-success {
  padding: 0; }
  .button-success a {
    padding: 10px; }

.button-previous {
  color: #868187;
  font-size: 16px;
  cursor: pointer;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .button-previous:focus, .button-previous:hover {
    color: #565257; }

.signup-wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: min-content;
  grid-gap: 10px;
  grid-template-areas: "a" "b" "c"; }

.signup-container {
  grid-area: b; }

.signup-header {
  grid-area: a;
  align-self: start; }

.signup-form {
  margin: 0 15px; }
  .signup-form label {
    color: #565257; }

.signup-footer {
  grid-area: c;
  align-self: end;
  border-top: 1px solid #bbb; }

.user-credentials-wrapper .has-error label {
  color: #e0312e; }

.error-block {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #e0312e; }

.circle-box {
  color: white;
  background-color: green;
  width: 256px;
  height: 256px;
  -moz-border-radius: 128px;
  -webkit-border-radius: 128px;
  border-radius: 128px; }
  .circle-box svg {
    -webkit-transform: translatey(12%);
    -ms-transform: translatey(12%);
    transform: translatey(12%);
    position: relative;
    left: 12%; }

.user-info-wrapper {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .user-info-wrapper.div {
    text-align: center; }

.user-info-success-wrapper {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center !important; }
  .user-info-success-wrapper div {
    margin: 20px 0; }

.user-info-box {
  margin: 10px 0 20px;
  width: 100%; }
  .user-info-box div.box-label {
    margin: 10px 0 20px;
    text-align: center;
    color: #565257; }
  .user-info-box div.btn-group {
    width: 100%; }
    .user-info-box div.btn-group button:not(.dropdown-toggle) {
      width: 33%;
      color: #565257; }
      .user-info-box div.btn-group button:not(.dropdown-toggle).selected {
        background-color: #1c6be8;
        color: #fff; }
    .user-info-box div.btn-group button.dropdown-toggle span.caret {
      position: absolute;
      left: 95%;
      top: 45%; }
    .user-info-box div.btn-group button.dropdown-toggle[aria-expanded="true"] {
      background-color: #1c6be8;
      color: #fff; }
    .user-info-box div.btn-group button.dropdown-toggle-active {
      background-color: #1c6be8;
      color: #fff; }
  .user-info-box form.form-inline .form-group {
    width: 33%; }
    .user-info-box form.form-inline .form-group input[type="number"] {
      width: 100%;
      -moz-appearance: textfield;
      text-align: center; }
    .user-info-box form.form-inline .form-group input[type="number"].firstChild {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px; }
    .user-info-box form.form-inline .form-group input[type="number"].lastChild {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px; }
    .user-info-box form.form-inline .form-group input[type="number"]::-webkit-outer-spin-button,
    .user-info-box form.form-inline .form-group input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .user-info-box form.form-inline .form-group input[type="number"]::-webkit-input-placeholder {
      text-align: center; }
    .user-info-box form.form-inline .form-group input[type="number"]:-moz-placeholder {
      text-align: center; }
    .user-info-box form.form-inline .form-group input[type="number"]::-moz-placeholder {
      text-align: center; }
    .user-info-box form.form-inline .form-group input[type="number"]:-ms-input-placeholder {
      text-align: center; }
  .user-info-box input {
    border-radius: 0; }

.user-info-source div ul, .user-info-source div button {
  width: 100%; }

@media (min-width: 520px) {
  .signup-container {
    grid-area: b;
    place-self: center;
    align-self: baseline; }

  .signup-form {
    min-width: 500px; }

  .signup-footer-container {
    width: 70%;
    text-align: center;
    margin: auto; } }
@media (max-width: 768px) {
  form.form-inline .form-group {
    width: 100% !important; }
    form.form-inline .form-group input[type="number"] {
      width: 100% !important; } }
@media (min-width: 900px) {
  .signup-container {
    grid-area: b;
    place-self: center;
    align-self: baseline; }

  .signup-form {
    min-width: 50%; }

  .signup-footer-container {
    width: 60%;
    text-align: center;
    margin: auto; } }

/*# sourceMappingURL=main.css.map */
