$color-main-blue: #1c6be8;
$color-main-blue-hover: #4396ff;
$color-main-gray: #565257;
$color-main-gray-hover: #868187;
$color-main-borders: #bbb;
$color-main-gray-inactive: #2a282b;
$color-main-error: #e0312e;

html,body, main, #app, div.container {
  height: 100%
}

.color-main-blue{
  color: $color-main-blue;
}

.label-signup{
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;

  font-size: 2em;
  font-weight: 300;
  text-align: center;
}

.input-main{
  border: none;
  outline: none;
  border-bottom: 1px solid $color-main-borders;
  border-radius: 0;
  box-shadow: none;

  &:active, &:focus{
    outline: none;
    border-bottom: 1px solid $color-main-blue;
    border-radius: 0;
    box-shadow: none;
  }
}

.no-border-radius{
  border-radius: 0;
}

.button-next{
  color: $color-main-blue;
  font-size: 16px;
  cursor: pointer;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  &:focus, &:hover{
    color: $color-main-blue-hover;
  }
}

.button-success{
  a{
    padding: 10px;
  }
  padding: 0;
}

.button-previous{
  color: $color-main-gray-hover;
  font-size: 16px;
  cursor: pointer;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  &:focus, &:hover{
    color: $color-main-gray;
  }
}


.signup-wrapper{
  height: 100%;

  display: grid;
  grid-template-rows: min-content;
  grid-gap: 10px;
  grid-template-areas:
          "a"
          "b"
          "c"
}

.signup-container{
  grid-area: b;
}

.signup-header{
  grid-area: a;
  align-self: start;
}

.signup-form{
  margin: 0 15px;
  label{
    color: $color-main-gray;
  }
}

.signup-footer{
  grid-area: c;
  align-self: end;

  border-top: 1px solid $color-main-borders;
}

.user-credentials-wrapper{
     .has-error{
       label{
         color: $color-main-error;
       }
     }
}

.error-block{
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #e0312e;
}

.circle-box{
  color: white;
  background-color: green;
  width: 256px;
  height: 256px;
  -moz-border-radius: 128px;
  -webkit-border-radius: 128px;
  border-radius: 128px;

  svg{
    -webkit-transform: translatey(12%);
    -ms-transform: translatey(12%);
    transform: translatey(12%);
    position: relative;
    left: 12%;
  }
}

.user-info-wrapper{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.div{
    text-align: center;
  }
}

.user-info-success-wrapper{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center !important;

  div{
    margin: 20px 0;
  }
}

.user-info-box{
  margin: 10px 0 20px;
  width: 100%;

  div.box-label{
    margin: 10px 0 20px;
    text-align: center;
    color: $color-main-gray;
  }

  div.btn-group{
    width: 100%;

    button:not(.dropdown-toggle) {
      width: 33%;
      color: $color-main-gray;

      //&:active{
      //  background-color: $color-main-blue;
      //  color: #fff;
      //}
      &.selected{
        background-color: $color-main-blue;
        color: #fff;
      }
    }

    button.dropdown-toggle{
      span.caret{
        position: absolute;
        left: 95%;
        top: 45%;
      }
    }

    button.dropdown-toggle[aria-expanded="true"]{
      background-color: $color-main-blue;
      color: #fff;
    }

    button.dropdown-toggle-active{
      background-color: $color-main-blue;
      color: #fff;
    }
  }

  form.form-inline .form-group{
    width: 33%;

    input[type="number"]{
      width: 100%;
      -moz-appearance:textfield;
      text-align: center;
    }

    input[type="number"].firstChild{
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    input[type="number"].lastChild{
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"]::-webkit-input-placeholder {
      text-align: center;
    }

    input[type="number"]:-moz-placeholder {
      text-align: center;
    }

    input[type="number"]::-moz-placeholder {
      text-align: center;
    }

    input[type="number"]:-ms-input-placeholder {
      text-align: center;
    }
  }

  input{
    border-radius: 0;
  }


}

.user-info-source{
  div{
    ul, button{
      width: 100%;
    }
  }

}

@media (min-width: 520px) {
  //.signup-wrapper{
  //  grid-template-columns: 100% 50% 100%;
  //}

  .signup-container{
    grid-area: b;
    place-self: center;
    align-self: baseline;
  }

  .signup-form{
    min-width: 500px;
  }

  .signup-footer-container{
    width: 70%;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 768px) {
  form.form-inline .form-group{
    width: 100% !important;
    input[type="number"]{
      width: 100% !important;
    }
  }
}

@media (min-width: 900px) {
  .signup-container{
    grid-area: b;
    place-self: center;
    align-self: baseline;
  }

  .signup-form{
    min-width: 50%;
  }

  .signup-footer-container{
    width: 60%;
    text-align: center;
    margin: auto;
  }
}